{
    "extends": ["airbnb", "airbnb/hooks"],
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["off", 2]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "document": false
    }
}
